body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #f0f0f0;
}

.btn-zero {
    grid-column: span 2;
}
